:root {
  --grey-color-light-1: #f7f7f7;
  --grey-color-dark-1: #777;
  --grey-color-dark-2: #333;
  --white-color: #fff;
}

/*Root Element Styles*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to left,
    rgb(223, 247, 189),
    rgb(64, 242, 236),
    rgb(173, 210, 237),
    rgb(255, 178, 255)
  );
  height: 100vh;
}

.game__board_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__board {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}
.game__board__box {
  background-color: var(--grey-color-light-1);
  border: 2px solid var(--grey-color-dark-2);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.game__board__image {
  max-width: 80px;
  padding: 10px;
}

.win {
  display: none;
}
